@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main-dark-theme: #19191a;
  --bg-header-dark-theme: #232324;
  --blue: #005ff9;
  --link-blue: #589bff;
  --text-sub-dark-theme: #8c8e94;
  --border-white-theme: #e0e2e7;
}

@layer base {
  body {
    @apply font-sans text-[15px] font-bold leading-5 text-[#333333] transition-all dark:text-white;
  }

  #__next {
    @apply flex h-full w-screen justify-center;
  }
}

@layer components {
  .sidebar__link_title {
    @apply hidden md:block;
  }

  .email__list {
    @apply relative mt-3 mb-3 flex h-full w-[calc(100%_-_232px)] flex-col overflow-y-visible rounded-lg md:dark:bg-[#232324] xl:dark:bg-[#2C2C2D] 2xl:dark:bg-[#232324];
  }

  .email__list_link {
    @apply absolute  left-0 z-0 w-full first:rounded-t-lg last:rounded-b-lg hover:rounded-lg dark:bg-[#232324] dark:hover:bg-[#2C2C2D];
  }

  .email__list_item {
    @apply flex h-12 w-full cursor-pointer items-center  whitespace-nowrap bg-transparent pl-1 font-bold;
  }
  .email__list_item:hover .checkbox {
    @apply flex;
  }
  .email__list_item:hover .checkbox {
    @apply flex;
  }
  .email__list_item:hover .email__item_picture {
    @apply hidden transition-transform;
  }
  .email__list_item:hover .email__read_status {
    @apply bg-[color:var(--text-sub-dark-theme)];
  }
  .email__list_item:hover .email__list_item_mark {
    @apply opacity-100;
  }

  .email__list_item_mark {
    @apply flex h-12 w-12 min-w-[48px] items-center justify-center opacity-0;
  }

  .email__read_status {
    @apply h-[6px] w-[6px] rounded-full bg-blue-500 content-none;
  }

  .email__list_item_icon {
    @apply flex h-6 w-6 items-center justify-center;
  }

  .mail__letter_preview {
    @apply ml-3 flex h-full w-3/4 items-center space-x-2 border border-0 border-b-[1px] border-[color:var(--border-white-theme)]  dark:border-[color:var(--bg-main-dark-theme)];
  }

  .checkbox {
    @apply hidden h-8 w-8 items-center justify-center;
  }
}

@layer utilities {
  .sidebar__link {
    @apply flex  h-9 w-full cursor-pointer items-center justify-center rounded-lg font-normal hover:bg-[#00103D]/10 dark:hover:bg-[#222223]  md:justify-start md:gap-[10px] md:p-2   md:pl-3 md:pr-2;
  }

  .sidebar__link-active {
    @apply bg-[#00103D]/10 font-bold dark:bg-[#3C3C3D];
  }

  .element-active {
    @apply bg-[#00103D]/10 dark:bg-[#3C3C3D];
  }

  .element-hover {
    @apply hover:bg-[#00103D]/5 hover:dark:bg-[#222223];
  }
}
